{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Md Core One</title>
  <meta content="Client First" name="descriptison">
  <meta content="Victory loves preparation" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/icon2.ico' %}" rel="icon">
  <link href="{% static 'assets/img/icon2.ico' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' %}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bocor - v2.0.0
  * Template URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="">Md Core One<span>.</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <li><a href="#contact">Register</a></li>

          <li class="get-started"><a href="#about">Get Started</a></li>
        </ul>
  </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row d-flex align-items-center"">
      <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
        <h1>Mdcoreone Software Solutions</h1>
        <h2>Technology \V S/ Thoughts Who Wins? # You</h2>
        <a href="#about" class="btn-get-started scrollto">Try Now</a>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
      </div>
    </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/js.png' %}" class="img-fluid" alt="" data-aos="flip-right">
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/ppp.svg' %}" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="100">
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/rest.png' %}" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="200">
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/dj.png' %}" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="300">
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/apple.png' %}" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="400">
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/jjj.jpg' %}" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="500">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3 data-aos="fade-in" data-aos-delay="100">We run our operations as a high performance business.</h3>
              <p data-aos="fade-in">
                Mdcoreone is uniquely differentiated in the market through our Trusted client relationships. Global footprint. Technology leadership. Operational excellence
              </p>
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4><a href="#">Web App Development</a></h4>
                  <p>Cloud based (SAAS) applications, What drives the complete success of clients. Firstly, implementing unique technological Strategies</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                  <h4><a href="#">Mobile App Development</a></h4>
                  <p>A systematic approach to design app with complete integrations of suitable functions in the shortest amount of time</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-images"></i>
                  <h4><a href="#">Api Development</a></h4>
                  <p>A programming architectural implementation meant to enhance the efficiency of communication between the two devices or systems</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                  <h4><a href="#">Erp App Development</a></h4>
                  <p>A system of integrated applications to manage the business and automate many back office functions related to technology, services and human resources.</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Services</h2>
          <p data-aos="fade-in">Solve problems by automating routine business tasks, improving productivity and efficiency.</p>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/services-1.jpg' %}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Desktop Software</a></h5>
                <p class="card-text">Software helps you effectively engage with leads and customers, get insights about your transactions, Anticipate and prepare sales process, Closely understand the client and grow your business faster.</p>
                <div class="read-more"><a href="#contact"><i class="icofont-arrow-right"></i> Try now</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/services-2.jpg' %}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">E-commerce</a></h5>
                <p class="card-text">Start, manage and grow your eCommerce business. The easiest way to launch your eCommerce website. Full Customization. SSL Certificate Included. 24/7 Support. Free Templates. SEO Optimized. Hosting Included. Optimized For Speed. Built-In AI Tools.</p>
                <div class="read-more"><a href="#contact"><i class="icofont-arrow-right"></i> Try now</a></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/services-3.jpg' %}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Mobile Apps</a></h5>
                <p class="card-text">Build world-class android and iOS apps for Enterprises. 100+ satisfied clients. Professional app development services at best price. Expertise in Native and Hybrid apps. Immediate Response. Affordable. Free Consultation. Get Free Quote.</p>
                <div class="read-more"><a href="#contact"><i class="icofont-arrow-right"></i> Try now</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/services-4.jpg' %}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Cloud ERP</a></h5>
                <p class="card-text">Analytics and reporting to make smarter business decisions. No Hardware or Software required. 100% Cloud Platform. Rated #1 Cloud ERP System. ERP for Fast-Growing Biz. Types: Accounting Software, Crm, Cloud Financials, Ecommerce Solutions, Financial Management.</p>
                <div class="read-more"><a href="#contact"><i class="icofont-arrow-right"></i> Try now</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Our Products</h2>
          <p data-aos="fade-in">We bring you a unique combination of product engineering, business processes and IT services expertise to address the most pressing needs of software and IT models</p>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="{% static 'assets/img/features-1.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left">
            <h3>{{proj1.name}}</h3>
            <p class="font-italic">
            {{proj1.desc}}
            </p>
            <ul>
              <li><i class="icofont-check"></i> Lightspeed's cloud-based POS full fledged features to manage your transactions.</li>
              <li><i class="icofont-check"></i> Capabilities such as billing, order processing, sales monitoring reporting, inventory.</li>
              <li><i class="icofont-check"></i> Integrate with your eCommerce platforms, accounting, ERP and warehouse systems.</li>
              <li><i class="icofont-check"></i> Mobile connectivity, customer data, employee management, and robust integrations.</li>
              <li><i class="icofont-check"></i> Configurable with simple processors to complex cloud system extensibility.</li>
              <li><i class="icofont-check"></i> Accessible by smartphone, tablet, or another mobile device as a terminal.</li>
              <li><i class="icofont-check"></i> cloud or web-based POS use on existing hardware like computer, tablet, and printer.</li>
              <li><i class="icofont-check"></i> Peripherals integrated such as barcode scanners, receipt printers and cash drawers.</li>

            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'assets/img/features-2.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>{{proj2.name}}</h3>
            <p class="font-italic">
              {{proj2.desc}}.
            </p>
             <ul>
              <li><i class="icofont-check"></i> User Rights Limit access, admin portal, sync management reports on mobile browser.</li>
              <li><i class="icofont-check"></i> Spot Sales receipt 1st & 2nd weight printed, time date, party details, Material details..</li>
              <li><i class="icofont-check"></i> Data synchronisation to web all transaction details, P&L statement, daily expenses.</li>
              <li><i class="icofont-check"></i> Equipment monitor Purchase order, Stock records, Fuel Consumption vehicle wise..</li>
              <li><i class="icofont-check"></i> Configurable with Retail Weighing Scales, Industrial Weighing Scale, any Load Cells.</li>
              <li><i class="icofont-check"></i> Notifications deliver time to time based on the frequency set to the stake holders.</li>
              <li><i class="icofont-check"></i> cloud or web-based POS use on existing hardware like computer, tablet, and printer.</li>
              <li><i class="icofont-check"></i> Reports, credit record, GST Invoice. Hassle free transparency amongst clients.</li>

            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="{% static 'assets/img/features-3.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>{{proj3.name}}</h3>
            <p class="font-italic">
            {{proj3.desc}}
            </p>
            <ul>
              <li><i class="icofont-check"></i> Highly responsive resizable properly on any browser from any device.</li>
              <li><i class="icofont-check"></i> Shopping cart. Payment Gateway Integrations. Order management. Security.</li>
              <li><i class="icofont-check"></i> Scalable Infrastructure. Mobile compatibility. Reports. Logistics integration..</li>
              <li><i class="icofont-check"></i> Two-factor auth for secured-transaction, by requiring username, password & OTP.</li>
              <li><i class="icofont-check"></i> The return policy is well written & trust-building feature for an online store.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'assets/img/features-4.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>{{proj4.name}}</h3>
            <p class="font-italic">
             {{proj4.desc}}
            </p>
            <ul>
              <li><i class="icofont-check"></i> Advance features User rights, Branch creation, Branch expenses, Interest Calculator.</li>
              <li><i class="icofont-check"></i> Cloud based, prioritized security, Reports, Language selection, Member login.</li>
              <li><i class="icofont-check"></i> Multiple Mode facility Like Monthly, Quarterly, Half yearly, Yearly.</li>
              <li><i class="icofont-check"></i> Two-factor auth for secured-transaction, by requiring username, password & OTP.</li>
              <li><i class="icofont-check"></i> Admin Panel, Branch/Staff Panel, Policy Certificate Print, Share Master, Loan Master.</li>
              <li><i class="icofont-check"></i> Saving Account Master, Branch Master (N Numbers of Branch Creation Facility).</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Portfolio</h2>
          <p data-aos="fade-in">We manage our operations with rigor and discipline to increase our efficiency and enhance our competitiveness, so that we achieve our ultimate goal of delivering sustainable, profitable growth over the long term.</p>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Desktop</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/clinic.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/clinic.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Clinic Management"><i class="icofont-plus-circle"></i></a>
                <a href="#" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Clinic Management</h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="icofont-plus-circle"></i></a>
                <a href="#" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Co-operative society</h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/crm.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/crm.png' %}" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="icofont-plus-circle"></i></a>
                <a href="#" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>CRM App</h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/images.jpeg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/images.jpeg' %}" data-gall="portfolioGallery" class="venobox" title="App"><i class="icofont-plus-circle"></i></a>
                <a href="#" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Pos</h4>
                <p>Desktop</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/HRMS.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/HRMS.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="icofont-plus-circle"></i></a>
                <a href="#" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Hrms</h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/school.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/school.png' %}" data-gall="portfolioGallery" class="venobox" title="aaa"><i class="icofont-plus-circle"></i></a>
                <a href="#" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>School management App</h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/Inventory.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/Inventory.png' %}" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="icofont-plus-circle"></i></a>
                <a href="#" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Inventory Management</h4>
                <p>Desktop</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/crush.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/crush.png' %}" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="icofont-plus-circle"></i></a>
                <a href="#" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Weighbridge Management</h4>
                <p>Desktop</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/acct.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/acct.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="icofont-plus-circle"></i></a>
                <a href="#" title="More Details"><i class="icofont-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Accounting</h4>
                <p>Web</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Frequently Asked Questions</h2>
          <p data-aos="fade-in">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>How much do you charge for software development and support?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              It is true that no two customer projects are exactly alike, and Mdcoreone treats each customer project as unique. However, our team has completed enough projects to identify commonalities, which can assist us in pricing your project. This allows us to provide an estimate, which is always competitive, and a great value. Contact us for additional information.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>How long will it take to see results?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              The answer to this question is based on your project. The first step, after contacting us, is to set up a free, face-to-face meeting. This meeting allows us to get a better understanding of the complexity of your project. Once we understand your software requirements, we can provide preliminary cost details and a timeline.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>Do you offer software support and maintenance?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              We provide a comprehensive service level agreement (SLA), which guarantees the level of support from the moment your solution goes live. This includes team knowledge retention, background system maintenance and general user software support.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>What technology specializations does Mdcoreone use?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              All of our developers have advanced certifications and years of software development experience in an array of primary languages and frameworks. This allows them to explore all available options when choosing the best technology platforms for your software project.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-5">
            <i class="bx bx-help-circle"></i>
            <h4>Who owns the Intellectual Property on the finished software solution?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              You own your intellectual property. Here at Mdcoreone, we believe that it is your software, so you should own the IP! We guarantee all aspects of the project design and construction will be provided upon completion, and full code, copyrights and ownership will be the sole property of your company.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Contact</h2>
          <p data-aos="fade-in">Mdcoreone will work closely with you to provide adequate business ideas with the latest technology.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box" data-aos="fade-up">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Mascot 90 Vydehi hospital road whitefield bangalore 560066</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@mdcoreone.com<br>contact@mdcoreone.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+91 6361 936 915<br>+91 9886 121 257</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container" data-aos="fade-up">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>M.D.C.O</h3>
            <p>Victory Loves Preparation.</p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Md Core one</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/ -->
        Designed by <a href="{% static 'https://mdcoreone.com/">www.mdcoreone.com</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>